---
layout: home 
title: Data Storytelling
subtitle: Telling stories with data insights
---

<div class="spacefill"></div>
<div class="banner-container">
    <div>
        <!-- <h1>AI<span><i>for</i></span>VIS</h1> -->
        <h1>Data Storytelling</h1>
        <h3><span>Weaving data insights into compelling stories</h3>
    </div>
</div>
<div class="wrapper">
    <div class="flex-double-row">
        <div id="introduction">
            <h2 class="major-title"><span>About Us</span></h2>
            <p>
               
            </p>
            <p> The Data Storytelling research team of HKUST VisLab is dedicated to exploring storytelling techniques for communicating data-driven insights with visualizations. Our research interests are wide-ranging and include the investigation of <b>novel techniques in data-driven storytelling</b> and the development of authoring tools or automatic approaches to <b>generate narrative visualizations</b>. As we delve into these topics, we aim to bridge the gap between the complex world of data analytics and the intuitive realm of human communication.

                At the core of our research lies the belief that data storytelling is not only about presenting numbers and facts but also about crafting engaging narratives that resonate with the audience. By exploring innovative visualization techniques and narrative structures, we strive to create a powerful medium that simplifies complex data insights, making them approachable and relatable to a wide range of audiences.</p>
        </div>
        <div class="banner-wrapper">

        </div>
    </div>

</div>
<div id="news" class="wrapper">
    <h2 class="major-title"><span>News</span></h2>
    <div>
        {% for news in site.data.news limit:8 %} {% include news.html news=news %} {% endfor %}
    </div>

</div>

<div id="publication" class="wrapper">

    <h2 class="major-title"><span>Publications</span></h2>

    <div class="filter-panel">
        <div class="all-button" data-value="all" onclick="filterPub(this)">All</div>
        <div data-value="storytelling" onclick="filterPub(this)">Design Patterns/Guidelines</div>
        <div data-value="design" onclick="filterPub(this)">Designing & Evaluation</div>
        <div data-value="authoring" onclick="filterPub(this)">Authoring/Generation</div>
    </div>


    {% assign pubyears = site.data.publication | group_by:"year" %} {% for year in pubyears %} {%-assign yeartitle = year.name | floor-%}
    <h3 class="year" href="#y{{ year.name }}"><span> {{ yeartitle }} </span> </h3>
    {% for pub in year.items %} {% include publication.html pub=pub %} {% endfor %} {% endfor %}
</div>

<div id="team" class="wrapper">
    <h2>Current Members</h2>
    {% include profile.html term="team" class="profile-image" %}
    <h2>Alumni</h2>
    {% include profile.html term="alumni" class="profile-image" %}
</div>


<div class="collaborators wrapper">
    <h2 class="major-title"> <span>Collaborators</span></h2>
    <div class="profile-container">
        {% for people in site.data.team %} {% if people.role == "collaborator" %}
        <div class="profile-card">
            <!-- <a target="_blank" href="{{ people.url }}"> -->
            <div class="profile-collaborator"><img src="{{ people.image }}" /></div>
            <!-- <div>{{ people.name }}</div> -->
            <!-- </a> -->
        </div>
        {% endif %} {% endfor %}
    </div>


</div>

<!-- <div class="funding wrapper">
    <h2 class="major-title"><span>Grants & Funding</span></h2>
    <div>
        {% for funding in site.data.funding %}
        <span>"<b><a target="_blank" href="{{ funding.url }}">{{ funding.title }}</a></b>",</span>
        <span>awarded by {{ funding.agent }} — {{ funding.scheme }}: {{ funding.id }}</span>
        <span>
            ({{ funding.award }}).
        </span> {% endfor %}
    </div>
</div> -->

<script src="./assets/js/d3.js"></script>
<script>
    let status = {
        'all': true,
        'storytelling': false,
        'design': false,
        'authoring': false
    }
    let tagMapping = {
        "all": ["storytelling", "patterns","design", "authoring", "generation"],
        "storytelling": ["patterns", "survey"],
        "design": ["design", "evaluation"],
        "authoring": ["authoring", "generation"]
    }
    d3.select('.all-button').classed('active', true)

    function filterPub(btn) {
        const value = btn.getAttribute("data-value")
        status[value] = !status[value]
        const sum = Object.values(status).reduce((a,b) => a || b, false)
        if(!sum) {
            status['all'] = true
        }
        if (value =='all' && status['all']) {
            status['storytelling'] = false
            status['design'] = false
            status['authoring'] = false
        } else if (value!= 'all' && sum) {
            status['all'] = false
        } else if (!sum) {
            status['all'] = true
        }

        if (status['storytelling'] && status['design'] && status['authoring']) {
            status['all'] = true 
            status['storytelling'] = false
            status['design'] = false
            status['authoring'] = false
        }
        const tags = []
        d3.select('.filter-panel').selectAll('div').each(function(){
            const value = this.getAttribute("data-value")
            if (status[value]) {
                d3.select(this).classed('active', true)
                tags.push(...tagMapping[value])
            } else {
                d3.select(this).classed('active', false)
            }
        })

        d3.selectAll('.publication').style('display', 'none')
        tags.forEach(v => {
            d3.selectAll(`.tag_${v}`).style('display', 'flex')
        })
        


    

    
    }
</script>