---
layout: home 
title: Data Storytelling
subtitle: Telling stories with data insights
---

<div class="spacefill"></div>
<div class="banner-container">
    <div>
        <!-- <h1>AI<span><i>for</i></span>VIS</h1> -->
        <h1>Data Storytelling</h1>
        <h3><span>Weaving data insights into compelling stories</h3>
    </div>
</div>
<div class="wrapper">
    <div class="flex-double-row">
        <div id="introduction">
            <h2 class="major-title"><span>About Us</span></h2>
            <p>
               
            </p>
            <p> The Data Storytelling research team of HKUST VisLab is dedicated to exploring storytelling techniques for communicating data-driven insights with visualizations. Our research interests are wide-ranging and include the <b>identification of narrative patterns in data-driven storytelling</b>, the <b>development of tools for authoring expressive visualizations</b>, and the <b>automatic generation of data stories</b>. As we delve into these topics, we aim to bridge the gap between the complex world of data analytics and the intuitive realm of human communication.

                At the core of our research lies the belief that data storytelling is not only about presenting numbers and facts but also about crafting engaging narratives that resonate with the audience. By exploring innovative visualization techniques and narrative structures, we strive to create a powerful medium that simplifies complex data insights, making them approachable and relatable to a wide range of audiences.</p>
        </div>
        <div class="banner-wrapper">

        </div>
    </div>

</div>
<div id="news" class="wrapper">
    <h2 class="major-title"><span>News</span></h2>
    <div>
        {% for news in site.data.news limit:8 %} {% include news.html news=news %} {% endfor %}
    </div>

</div>

<div id="publication" class="wrapper">
    <h2 class="major-title"><span>Publications</span></h2>



    {% assign pubyears = site.data.publication | group_by:"year" %} {% for year in pubyears %} {%-assign yeartitle = year.name | floor-%}
    <h3 class="year" href="#y{{ year.name }}"><span> {{ yeartitle }} </span> </h3>
    {% for pub in year.items %} {% include publication.html pub=pub %} {% endfor %} {% endfor %}
</div>

<div id="team" class="wrapper">
    <h2>Current Members</h2>
    {% include profile.html term="team" class="profile-image" %}
    <h2>Alumni</h2>
    {% include profile.html term="alumni" class="profile-image" %}
</div>


<div class="collaborators wrapper">
    <h2 class="major-title"> <span>Collaborators</span></h2>
    <div class="profile-container">
        {% for people in site.data.team %} {% if people.role == "collaborator" %}
        <div class="profile-card">
            <!-- <a target="_blank" href="{{ people.url }}"> -->
            <div class="profile-collaborator"><img src="{{ people.image }}" /></div>
            <!-- <div>{{ people.name }}</div> -->
            <!-- </a> -->
        </div>
        {% endif %} {% endfor %}
    </div>


</div>

<!-- <div class="funding wrapper">
    <h2 class="major-title"><span>Grants & Funding</span></h2>
    <div>
        {% for funding in site.data.funding %}
        <span>"<b><a target="_blank" href="{{ funding.url }}">{{ funding.title }}</a></b>",</span>
        <span>awarded by {{ funding.agent }} — {{ funding.scheme }}: {{ funding.id }}</span>
        <span>
            ({{ funding.award }}).
        </span> {% endfor %}
    </div>
</div> -->