#main-navbar {
    a {
        font-family: 'Source Sans Pro';
    }
}

body {
    position: relative;
}

footer {
    background-color: $extreme-light-gray !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: $extreme-light-gray;
    color:white;
  }
nav {
    border-bottom: white 1px solid !important;
}
.navbar-custom,
.navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent {
  padding-left: 10vw;
  padding-right: 10vw;
}

.navbar-custom {
    background-color: $extreme-light-gray;
}

.wrapper {
    padding: 6vh 10vw;
}

.banner-wrapper {
    vertical-align: middle;
    height: 100%;
    position: relative;
    
}
.banner {
    max-width: 100%;
    
}
.banner-container {
    background-image: url(./assets/img/bg.png);
    height: 40vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-width: 0.1rem;
    vertical-align: middle;
    position: relative;

    div {
        vertical-align: middle;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            font-size: 5.5rem;
            margin-bottom: 20px;
        }
    }

}

.spacefill {
    height: 60px;
}

.major-title {
    // width: 100%; 
    text-align: left; 
    line-height: 0.1em;
    margin: 20px 0 40px;
}

.news-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .news-content {
      flex: 1;
    }
    .time-span {
      padding-left: 5px;
    }
  }

.year {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px dashed $gray; 
    line-height: 0.1em;
    margin-bottom: 5vh;
    span {
        padding:0 20px 0 0; 
        background-color: white;
    }
}

.flex-double-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-panel {
    display: flex;
    div {
        border-radius: 5px;
        border: $highlight 1px solid;
        padding: 7px 11px;
        margin-right: 10px;
        background: lighten($extreme-light-gray, 2%);
        &.active {
            border: darken($highlight, 10%) 2px solid;
            background: lighten($extreme-light-gray, 0%);
        }
         &:focus {
            border: $highlight 1px solid;
            background: lighten($extreme-light-gray, 2%);
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .filter-panel {
        display: none;
    }
    .wrapper {
        padding: 3vh 5vw;
    }
    .navbar-custom,
    .navbar-custom.top-nav-short,
    .navbar-custom.top-nav-short-permanent {
    padding-left: 3vw;
    padding-right: 3vw;
    }
    .spacefill {
        height: 50px;
    }
    .navbar-brand {
        span {
            margin-right: -5px;
        }
    }
    .banner-container {
        div {
            padding: 0 5vw;
            h1 {
                font-size: 3rem;
            }
            h3 {
                font-size: 1.3rem;
            }
        }
    }
    h2 {
        font-size: 1.5rem;
    }
    .major-title {
        margin: 20px 0 30px;
    }
    .publication {
        margin-bottom: 2vh;
    }
    .profile-card {
        .parent-img {
            width: fit-content;
        }
    }
   
    .profile-image {
        width: 20vw !important;
        height: 20vw !important;
        min-height: 0 !important;
        min-width: 0 !important;
    }
    .profile-name {
        font-size: .85rem !important;
    }
    .profile-institute {
        font-size: .8rem !important;
    }
    .profile-collaborator img {
        max-height: 40px !important;
    }
}

#news, #team {
        background-color: $extreme-light-gray;
}
