.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-card {
    margin: 5px 1.5vw;
    text-align: center;
    line-height: 1.4;
    a:hover {
        color: $highlight;
    }
    div {
        .profile-name {
            font-size: 1.15rem;
            color: black;
            font-family: 'Source Sans Pro';
            &:hover {
                color: $highlight;
            }
        }
        .profile-institute {
            color: $slight-dark-gray;
            font-size: 0.95rem;
            font-family: 'Open Sans';
             :hover {
                color: $highlight;
            }
        }
        .profile-title {
            color: $slight-dark-gray;
            font-size: 0.9em;
            font-family: 'Open Sans';
            :hover {
                color: $highlight;
            }
        }
    }
}

.profile-image {
    width: 150px;
    height: 150px;
    min-width: 20px;
    min-height: 20px;
    background-position: center center;
    background-size: cover;
}

.profile-collaborator {
    img {
        max-height: 90px;
        width: auto;
        min-width: 40px;
    }
    background-position: center center;
    background-size: cover;
    width: fit-content;
    height: fit-content;
}

.parent-img:hover .child-img,
.parent-img:focus .child-img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent-img:hover .child-img:before,
.parent-img:focus .child-img:before {
    display: block;
}

.parent-img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-width: 0.1rem;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
}

.child-img {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.award-tag {
    color: firebrick;
    font-weight: 400;
    margin-top: -5px;
}

.award-icon {
    color: firebrick;
}